<%- include('./Partials/head') %>

    <h1>Vinimini Forum</h1>
    <p>Laat hier je vraag achter!</p>

    <form action="#">
        <label>Onderwerp</label>
        <input type="form">
    </form>

<%- include('./Partials/foot') %>